/*
TYPE SCALE : 55 / 44 / 35 / 28 / 23 / 18* / 14 / 12 / 9
COLOR : #006466 / #065a60 / #0b525b / #144552 / #1b3a4b / #212f45 / #272640 / #312244 / #3e1f47 / #4d194d
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quantico", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}
